<!DOCTYPE html>
<html  
xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head><meta charset="UTF-8"/></head>
<body>

	<h1>TESTE</h1>
	
	<nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" th:action="@{/livros/buscar/nome}">
	                                <input class="form-control mr-sm-2" type="search" placeholder="nome" aria-label="Search"
	                                       th:name="nome" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
							<hr>
	    	
	            <div class="table-responsive">
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>#</th>
	                        <th>Nome</th>
	                        <th>Ação</th>
	                    </tr>
	                    </thead>
	                    <tbody>
		                    <tr th:each="d : ${livros}">
		                        <td th:text="${d.id}">3</td>
		                        <td th:text="${d.nome}">Administração</td>
		                
		                    </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	        
		
			
	    </section>
</body>
</html>	